{% extends 'base.html' %}


{% block title %}
    Todo List
{% endblock title %}


{% block content %}
<div class="container d-flex flex-xl-column align-items-center " style="margin-top: 6%;">
    
  
    
    
    <h3 class="card-title text-success">Todo List</h5>
    {% for todo in todos %}
    
            
    {% if todo.completed %}
    <div class="list-group col-sm-6 text-center">
         <a href="{% url 'todo-update' todo.id%}" class="list-group-item list-group-item-action list-group-item-info"><del>{{ todo }}</del></a>
     </div>
            
    {% else %}
    <div class="list-group col-sm-6 text-center">
        <a href="{% url 'todo-update' todo.id%}" class="list-group-item list-group-item-action list-group-item-info">{{todo}}</a>
    </div>
              
    {% endif %}
            
                
    {% endfor %}

        
    </div>
            
    
{% endblock content %}
    
    